Logistic Regression/.ipynb_checkpoints/Logistic Regression-checkpoint.ipynb
Logistic Regression/__pycache__/dataset_utility.cpython-36.pyc
Logistic Regression/datasets/test_catvsnoncat.h5
Logistic Regression/datasets/train_catvsnoncat.h5

